In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'https://stacker.com/stories/1587/100-best-movies-all-time'

respone = requests.get(url)
respone.raise_for_status

In [3]:
soup = BeautifulSoup(respone.text, 'html.parser')

In [29]:
title = soup.find_all('h2', class_='ct-slideshow__slide__text-container__caption')

movies = []

for name in title:
    movies.append(name.text.split("#"))

In [53]:
desc = soup.find_all('div', class_='ct-slideshow__slide__text-container__description')

desc_list = []

for name in desc:
    name2 = name.find('p')
    for i in name2:
        desc_list.append(i.text.split(": "))

In [58]:
desc_list.pop(0)

['. Meanwhile, every cinematic era has put forth its respective slate of timeless masterpieces.']

In [65]:
df2 = pd.DataFrame(desc_list, columns=['a','b'])

df2.head()

                   a             b
0         - Director  Milos Forman
1                             None
2  \n- Stacker score          89.1
3                             None
4      \n- Metascore            88

In [72]:
df2.dropna(axis=0, inplace=True)

In [73]:
df2.reset_index(drop=True)

                        a                     b
0              - Director          Milos Forman
1       \n- Stacker score                  89.1
2           \n- Metascore                    88
3    \n- IMDb user rating                   8.3
4             \n- Runtime           160 minutes
..                    ...                   ...
495            - Director  Francis Ford Coppola
496     \n- Stacker score                   100
497         \n- Metascore                   100
498  \n- IMDb user rating                   9.2
499           \n- Runtime           175 minutes

[500 rows x 2 columns]

In [78]:
df2['a'] = df2['a'].str.extract(r'-\s(.+)')

In [90]:
df2_col = df2['a'].unique()[:5]

len(df2_col)

5

In [91]:
df2_col

array(['Director', 'Stacker score', 'Metascore', 'IMDb user rating',
       'Runtime'], dtype=object)

In [92]:
len(df2['b'])

500

In [84]:
array = np.array([df2['b']])

In [94]:
array = array.reshape(100,5)

In [96]:
df2 = pd.DataFrame(array, columns=df2_col)

In [33]:
df = pd.DataFrame(movies, columns=['a','b'])
df.head(3)

    a                                b
0  \n            100. Amadeus (1984)\n
1  \n     99. The Hurt Locker (2008)\n
2  \n  98. Mad Max: Fury Road (2015)\n

In [35]:
df['title'] = df['b'].str.extract(r'.\s(.+)\s\((\d+)')[0]
df['year'] = df['b'].str.extract(r'.\s(.+)\s\((\d+)')[1]

In [38]:
df.drop(['a','b'], axis=1, inplace=True)

In [41]:
df['year'] = df['year'].astype(int)

In [100]:
df2.columns = ['director', 'stacker_score', 'metascore', 'imdb_user_rating','runtime(m)']

In [102]:
df_movie = pd.concat([df,df2], axis=1)
df_movie.head()

,title,year,director,stacker_score,metascore,imdb_user_rating,runtime(m)
0,Amadeus,1984,Milos Forman,89.1,88,8.3,160 minutes
1,The Hurt Locker,2008,Kathryn Bigelow,89.1,95,7.6,131 minutes
2,Mad Max: Fury Road,2015,George Miller,89.1,90,8.1,120 minutes
3,The Truman Show,1998,Peter Weir,89.1,90,8.1,103 minutes
4,Finding Nemo,2003,"Andrew Stanton, Lee Unkrich",89.1,90,8.1,100 minutes

In [103]:
df_movie['runtime(m)'] = df_movie['runtime(m)'].str.extract(r'(\d+)')

In [104]:
df_movie.head()

,title,year,director,stacker_score,metascore,imdb_user_rating,runtime(m)
0,Amadeus,1984,Milos Forman,89.1,88,8.3,160
1,The Hurt Locker,2008,Kathryn Bigelow,89.1,95,7.6,131
2,Mad Max: Fury Road,2015,George Miller,89.1,90,8.1,120
3,The Truman Show,1998,Peter Weir,89.1,90,8.1,103
4,Finding Nemo,2003,"Andrew Stanton, Lee Unkrich",89.1,90,8.1,100

In [105]:
df_movie.shape

(100, 7)

In [110]:
df_movie['a'] = [i for i in range(1,101)]

In [113]:
df_movie = df_movie.sort_values('a', ascending=False)

In [114]:
df_movie.drop('a', axis=1, inplace=True)

In [117]:
df_movie.reset_index(drop=True, inplace=True)

In [118]:
df_movie.head()

,title,year,director,stacker_score,metascore,imdb_user_rating,runtime(m)
0,The Godfather,1972,Francis Ford Coppola,100,100,9.2,175
1,12 Angry Men,1957,Sidney Lumet,96.4,96,8.9,96
2,Casablanca,1942,Michael Curtiz,96.4,100,8.5,102
3,Rear Window,1954,Alfred Hitchcock,95.8,100,8.4,112
4,City Lights,1931,Charles Chaplin,95.8,99,8.5,87