# Top 250 movies using BeautifulSoup
### dataset : **www.imdb.com**

In [179]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import warnings

warnings.filterwarnings('ignore')

In [180]:
url = "https://www.imdb.com/chart/top/"

req = requests.get(url)
req.raise_for_status

In [181]:
soup = BeautifulSoup(req.text, "html.parser")

In [182]:
movies_columns = ['rank','title','year','rating']

#list of rank, title and year
movie_list = []
#list of rating
ratings = []

html_table = soup.find('tbody').find_all('tr')

for tr in html_table:
    td = tr.find_all('td')
    
    rank_title_year = td[1].text.strip("\n").split("\n")
    rating  = td[2].text.strip("\n")

    movie_list.append(rank_title_year)
    ratings.append(rating)

## Create dataframe and data cleaning

In [183]:
ratings = np.array(ratings).reshape(-1, 1)

In [184]:
df_col = ['rank','title','year']
df_raw = pd.DataFrame(movie_list, columns=df_col)

df_raw.head()

       rank                           title    year
0        1.        The Shawshank Redemption  (1994)
1        2.                   The Godfather  (1972)
2        3.                 The Dark Knight  (2008)
3        4.           The Godfather Part II  (1974)
4        5.                    12 Angry Men  (1957)

In [185]:
df_raw['rank'] = df_raw['rank'].str.strip(".")

In [186]:
df_raw['year'] = df_raw['year'].str.strip("()")

In [187]:
df_rating = pd.DataFrame(ratings, columns=['ratings'])

df_rating.head()

  ratings
0     9.2
1     9.2
2     9.0
3     9.0
4     9.0

In [188]:
df = pd.concat([df_raw,df_rating], axis=1)
df.head()

      rank                           title  year ratings
0        1        The Shawshank Redemption  1994     9.2
1        2                   The Godfather  1972     9.2
2        3                 The Dark Knight  2008     9.0
3        4           The Godfather Part II  1974     9.0
4        5                    12 Angry Men  1957     9.0

In [189]:
for col in df.columns:
    df[col] = df[col].str.strip()